{# Reusable toast notifications partial
   Usage: include with variables: error, success, info, warning
   Example: {% include 'partials/toast.twig' with { error: 'Invalid login' } %}
#}

<div class="toast toast-top toast-end z-50">
  {% if success %}
    <div x-data="{ show: true }" x-show="show" x-init="setTimeout(()=>show=false, 4000)" class="alert alert-success shadow">
      <i class="fa-solid fa-circle-check text-xl shrink-0"></i>
      <span>{{ success }}</span>
      <button @click="show=false" class="btn btn-xs btn-ghost">Dismiss</button>
    </div>
  {% endif %}

  {% if info %}
    <div x-data="{ show: true }" x-show="show" x-init="setTimeout(()=>show=false, 4000)" class="alert alert-info shadow">
      <i class="fa-solid fa-circle-info text-xl shrink-0"></i>
      <span>{{ info }}</span>
      <button @click="show=false" class="btn btn-xs btn-ghost">Dismiss</button>
    </div>
  {% endif %}

  {% if warning %}
    <div x-data="{ show: true }" x-show="show" x-init="setTimeout(()=>show=false, 5000)" class="alert alert-warning shadow">
      <i class="fa-solid fa-triangle-exclamation text-xl shrink-0"></i>
      <span>{{ warning }}</span>
      <button @click="show=false" class="btn btn-xs btn-ghost">Dismiss</button>
    </div>
  {% endif %}

  {% if error %}
    <div x-data="{ show: true }" x-show="show" x-init="setTimeout(()=>show=false, 6000)" class="alert alert-error shadow">
      <i class="fa-solid fa-circle-xmark text-xl shrink-0"></i>
      <span>{{ error }}</span>
      <button @click="show=false" class="btn btn-xs btn-ghost">Dismiss</button>
    </div>
  {% endif %}
</div>
